<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>検索した文字:<%= kensaku %></p>
    <p>アニメor声優：<%= anisei %></p>
  </body>
</html>