<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div> 
        <table>
          <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>        
              <td>
                  <form method="post" name= '<%= obj.TITLE %>' action="/anime/detail">   
                  <input type="hidden" name= "id" value= '<%= obj.ANIME_ID %>' >
                  <a href="javascript:<%= obj.TITLE %>.submit()"><%= obj.TITLE %></a>
                </form>
              </td>
            </tr>
          <% } %>
        </table>
    </div>
  </body>
</html>

   <!-- <table>
        <% for(var i in content) { %>
          <tr>
            <% var obj = content[i]; %>
            <td><a href="/anime/detail"><%= obj.TITLE %></a></td>
          </tr>
        <% } %> -->