<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div> 
        <table>
          <% for(var i in content) { %>
            <tr>
                <% var obj = content[i]; %>        
              <td>
                  <form method="post" name= '<%= obj.SEIYU_NAME %>' action="/seiyu/detail">   
                  <input type="hidden" name= "id" value= '<%= obj.SEIYU_ID %>' >
                  <a href="javascript:<%= obj.SEIYU_NAME %>.submit()"><%= obj.SEIYU_NAME %></a>
                </form>
              </td>
            </tr>
          <% } %>
        </table>
    </div>
  </body>
</html>